.card {
    border: 1px solid red;
    background-color: blue;
    border-radius: 25px;
    width: 750px;
    min-height: 300px;
    padding: 50px;
    display: flex;
    line-height: 18px;
    color: white;
}


.bank {
    /* margin-left: 20px; */
    margin-top: 20px;
    width: 50%;
    font-family: "Helvetica", arial, sans-serif; font-size: 30px;
    height: 100px;

}

.ccnumber {
    margin-top: 80px;
    margin-left: 60px;
    width: 700px;
    font-family: "Comic Sans MS", arial, sans-serif; font-size: 35px;
}

.date {
    margin-top: 140px;
    margin-left: 60px;
    /* width: 100px; */
}

.name {
    margin-top: 250px;
    /* width: 300px; */
}