body {
    margin: 20px;
    padding: 0;
    font-family: serif;
  }
  
  .poster {
    position: relative;
    width: 600px;
    height: 378px;
    background-color:#000;
    border: 1px solid lightblue;
    color: blueviolet;
    padding-left: 40px;
  }
  
  /* .name, .card-number, .first-four-digits, .expiration {
    font-family: "Courier", monospace;
    position: absolute;
    text-transform: uppercase;
  } */
  
  /* .name {
    bottom: 40px;
    font-size: 36px;
  } */
  
  .logo {
    bottom: 160px;
  }
  
  /* .first-four-digits {
    font-size: 20px;
    font-weight: 200;
    font-family: sans-serif;
    bottom: 140px;
  } */
  
  /* .expiration {
    font-size: 36px;
    left: 240px;
    bottom: 100px;
  } */
  
  /* .valid-thru {
    width: 30px;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
  } */
  
  /* .bank-name {
    position: absolute;
    right: 40px;
    top: 40px;
    font-size: 50px;
  } */