.envelope {
    border: 1px solid red;
    width: 750px;
    min-height: 300px;
    padding: 10px;
    display: flex;
    font-family: "Helvetica", arial, sans-serif; font-size: 14px;
    line-height: 18px;
}

.stamp {
    width: 48px; 
    height: 48px; 
    border-radius: 5px; 
    margin-left: 500px;
}

.to {
    margin-top: 80px;
    margin-left: 60px;
    width: 200px;
}

.from {
    width: 200px;
}